.wrapper {
	@include container();
  display: grid;
  width: 80%;
  margin-top: 50vh;
  padding: 5em 0 0;
  grid-template-columns: 1fr/1;
  grid-template-rows: 1fr/auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr/2;
  }
}

.news-block {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid $special_dark-grey-2;
  }
}

//<!DOCTYPE Liky>
