.news {
  position: relative;
  display: flex;
  min-width: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 320px;
  bottom: 0;
  margin-right: 2em;
  margin-bottom: 2em;
  // overflow: hidden;
  transition: opacity 0.2s, bottom 0.5s;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    bottom: 5%;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $big-tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}

//<!DOCTYPE Liky>
