@font-face {
  font-family: 'Philosopher-Regular';
  src: url('Philosopher-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('NotoSerif-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

//<!DOCTYPE Liky>
