@font-face {
  font-family: "Philosopher-Regular";
  src: url("/fonts/Philosopher-Regular.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher-Bold";
  src: url("/fonts/Philosopher-Bold.ttf")  format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif-Regular";
  src: url("/fonts/NotoSerif-Regular.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
}

//<!DOCTYPE Liky>
