@mixin container() {
  position: relative;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin hidden() {
  display: none;
}

@mixin uppercase() {
  text-transform: uppercase;
}

%article-components {
  position: relative;
  width: 100%;
}

//@include container();
//@include hidden();
//@include uppercase();

//<!DOCTYPE Liky>
