/* Viewports */
$mobile-width: 320px;
$tablet-width: 768px;
$big-tablet-width: 1040px;
$desktop-width: 1200px;
$desktop-width-only: 1199px;
$mobile-width-only: 767px;

/* Colors */
$main-color: #ffffff;
$special_dark-grey-2: #222222;
$black-color: #000000;
$special_red-color: rgb(178, 84, 79);
$icon-color: rgb(113, 113, 113);

/* Fonts */
$font-stack--Philosopher:"Philosopher", "Arial", sans-serif;
$font-stack--NotoSerif-Regular:"NotoSerif-Regular", "Arial", sans-serif;

/*
@media (min-width: $tablet-width) {}
@media (min-width: $desktop-width) {}
*/

//<!DOCTYPE Liky>
